/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover ,a:visited ,a:active ,a:link {
    text-decoration: none;
}

body {
	background-color: rgb(59, 59, 59);
	margin: 0 auto ;
	font-size: 30px;
}
.list li {
	margin: 3px;
	border-radius: 3px;
	background: rgb(245, 244, 244);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list li a {
	color: red;
	float: right;
}
.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: rgb(149, 196, 240);
}
.color0::before {
	content: "";
	background: rgb(110, 232, 253);
	width: 50px;
	padding: auto 0;
}
.color1::before {
	content: "";
	background: rgb(166, 255, 139);
	width: 50px;
	padding: auto 0;
}
.color2::before {
	content: "";
	background: rgb(99, 185, 255);
	width: 50px;
	padding: auto 0;
}
.color3::before {
	content: "";
	background: rgb(255, 223, 82);
	width: 50px;
	padding: auto 0;
}
.color4::before {
	content: "";
	background: rgb(255, 126, 66);
	width: 50px;
	padding: auto 0;
}
.color5::before {
	content: "";
	background: rgb(255, 81, 81);
	width: 50px;
	padding: auto 0;
}