<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>My page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="all.css">
</head>

<body>
    <div class="container" id="app">
        <div class="row mt-5 p-4 bg-secondary text-light rounded shadow">
            <div class="col-sm-4" align="center">
                <p class="p-3">身高 : <input v-model="inpHeight" type="text" name="height" id="height" style="width: 150px;" placeholder="單位 cm"></p>
                <p class="p-3">體重 : <input v-model="inpWeight" type="text" name="weight" id="weight" style="width: 150px;" placeholder="單位 kg"></p>
            </div>
            <div class="col-sm-4 d-flex align-items-center justify-content-center my-3">
                BMI值:
                <span v-if="BMI == 0"> 請輸入資料</span>
                <span v-else> {{ BMI }}</span>
            </div>
            <div class="col-sm-4 d-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-info btn-lg" @click="storeBMI">紀錄 BMI</button>            </div>
        </div>
        <div class="content mt-3">
            <ul class="list">
                <li class="d-flex justify-content-between my-3" 
                :class="item.bgColor"
                v-for="(item, index) in list" :key="index">
                    <div class="m-3">
                        身高:{{item.height}} 體重:{{item.weight}} , 你的BMI值: {{item.BMInum}} 屬於 {{item.range}}
                    </div> 
                    <button type="button" class="btn btn-outline-danger m-3" @click="removeList(index)">刪除</button>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <script src="all.js"></script>

</body>

</html>