<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h2><%= myName %><%= email %></h2>
    <form action="/session" method="POST">
        <input type="text" name="myName" id="myName">
        <input type="text" name="email" id="email">
        <input type="submit" id="sendBtn" value="send">

    </form>
    <script>
        var name = document.querySelector("#myName");
        var email = document.querySelector("#email");


    </script>
</body>

</html>