<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>todolist on firebace</h1>
    <input type="text" id="content" name="content">
    <input type="submit" id="send" value="save">
    <ul id="list">
        <% for(i in todos){ %>
            <li><%- todos[i].content %><input type="button" data-id="<%- i %>" value="刪除"></li>
        <% } %>
    </ul>
    <script src="/javascripts/todolist.js"></script>
</body>
</html>