body {
    background-color: rgb(172, 236, 201);
}
#myForm {
    padding: 10px;
    border:black 2px solid;
}
td {
    width: 13px;
    height: 13px;
    border:rgba(238, 217, 217, 0) solid 1px;
}

.black {
    background: #000;
}

#box {
    position: relative;
    cursor: pointer;
}
#box div {
    position: absolute;
    background: rgba(255, 155, 155, 0.452);
    width: 50px;
    height: 50px;
}

#up {
    left:185px;
    top:130px;
}
#left {
    left:35px;
    top:260px;
}
#down{
    left:185px;
    top:400px;
}
#right{
    left:350px;
    top:260px;
}

